.seccion {
    margin-top: $separacion * 0.5;
    margin-bottom: $separacion * 0.5;
}
.contenido-centrado {
    max-width: 80rem;
}

.alinear-derecha {
    display: flex;
    justify-content: flex-end;
}
.w-100{
    width: 100%;
}
.ml-40{
    margin-left: 4rem;
}
.mensaje_form{
    position: fixed;
    z-index: 0;
    bottom: 2%;
    left: 2%;
    right: 2%;
    max-width: 40rem;
    padding: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    background-color: $negro;
    box-shadow: 3px 4px 15px rgba(34, 34, 34, 0.3);    
    -webkit-transition: .3s ease-in;
    transition: .3s ease-in;
    transform: translateY(0%);
    font-weight: $bold;
    font-size: 2.3rem;
    color: $blanco;
    margin: 10px 0 10px 0;


}
.none{
    display: none;
    transform: translateX(-30px);
}

<<<<<<< HEAD

.loader {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: $negro;
  position: absolute;
}

.loader>div{
  height: 100px;
  width: 100px;
  border: 10px solid $blanco;
  border-top-color: $amarillo;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 50%;
  animation: spin 1.5s infinite linear;
}

@keyframes spin{
  100%{
    transform: rotate(360deg);
  }
}

.content-full{
  display: none;
}

=======
.loader{
    display: flex;
    justify-content: center;
}

.loader div{
    margin: 5px;
    width: ;
}
>>>>>>> f510c7cae82882670cbb112e84f2b02fd24d6984
