
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');


// Fuentes
$fuente_principal: 'Lato', sans-serif;

// Tamaño de Media Queries
$telefonoSmall: 480px;
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$negro: #242423;
$jet: #333533;
$blackShadows: #CEBEBE;
$blanco: #f8f8f8;
$amarillo: #F5CB5C;
$verde: #71B100;
$gris: #e1e1e1;
$grisOscuro: #333333;
$rojo: rgb(189, 7, 7);
$azulOscuro: #142850;
$azulMedio: #27496d;
$turquesa: #0c7b93;
$rosa:#fcd1d1;


$separacion: 5rem;

// Fuentes

$delgada: 300;
$regular : 400;
$bold: 700;
$black: 900